{% extends "layout.html" %}
{% block content %}
<p>
<table class="card bordered">
    <tr class="bordered">
        <th>Week</th>
        <th>Monday</th>
        <th>Wednesday</th>
        <th>Friday</th>
    </tr>
    <tr class="bordered">
        <td>1</td>
        <td><span class="red-smallcaps">September X</span><br>
            <b>1. Welcome to CS2!</b><br>
            <span class="icon">presentation:small</span> <a href="lectures/01-Welcome/01-Welcome.pdf">Slides</a><br>
            <span class="icon">code:small</span> <a href="lectures/01-Welcome/code">Code</a><br>
            <span class="icon">notepad:small</span> Assignment 0 released<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 2
        </td>

        <td><span class="red-smallcaps">September X</span><br>
            <b>2. C++ Functions</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 3
        </td>
        <td><span class="red-smallcaps">September X</span><br>
            <b>3. Computational Complexity and "Big O" notation</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 8
        </td>
    </tr>
    <tr class="bordered">
        <td>2</td>
        <td><span class="red-smallcaps">September X</span><br>
            <b>4. Vectors</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment 0 due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment 1 released<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 4
        </td>

        <td><span class="red-smallcaps">September X</span><br>
            <b>5. C++ Strings</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 5
        </td>
        <td><span class="red-smallcaps">September X</span><br>
            <b>6. Stacks and Queues</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading: Textbook Ch. 6
        </td>
    </tr>
    <tr class="bordered">
        <td>3</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>7. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>8. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>9. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>4</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>8. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>9. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>10. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>5</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>11. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>12. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>13. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>6</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>14. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>15. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>16. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>7</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>17. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>18. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>19. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>8</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>20. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>21. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>22. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>9</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>23. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>24. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>25. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>10</td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>26. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">notepad:small</span> Assignment x due (6pm)<br>
            <span class="icon">notepad:small</span> Assignment x released<br>
            <span class="icon">book_1:small</span> Reading: 
        </td>

        <td><span class="red-smallcaps">Date</span><br>
            <b>27. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>28. Topic</b><br>
            <span class="icon">presentation:small</span> Slides<br>
            <span class="icon">code:small</span> Code<br>
            <span class="icon">book_1:small</span> Reading:
        </td>
    </tr>
    <tr class="bordered">
        <td>11</td>
        <td>
        </td>
        <td><span class="red-smallcaps">Date</span><br>
            <b>Final Exam</b><br>
            <span class="icon">calendar_ok:small</span> Date: <br>
            <span class="icon">alarm:small</span> Time: <br>
        </td>

        <td><br>
        </td>
    </tr>
</table>
{% endblock %}
