td, th {
    vertical-align:top;
}
div.card {
    border: 1px solid #BDE8F0;
    border-radius: 5px;
    padding: 5px;
    background:#F0F8FF;
    width: 70%;
}
.sidebar-heading {
    font-size: small;
    text-transform: uppercase;
    color: red;
}
.timefeed {
    font-style: italic;
}

.icon {
}

